* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* text */
    --veryDarkDesaturatedBlue: #1d1e35;
    --softRed: #f47c57;
    --veryDarkGrayishBlue: #4a4b5e;
    --darkGrayishBlue: #787887;

    /* background gradient */
    --softViolet: #af67e9;
    --softBlue: #6565e7;

    /* dividers */
    --lightGrayishBlue: #e7e7e9;
}


body {
    background-image: linear-gradient(to bottom, var(--softViolet), var(--softBlue));
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #fff;
    border-radius: 1.5rem;
    position: relative;
    margin-top: 4rem;
}

#woman-mobile {
    position: absolute;
    top: -6.7rem;
    left: 50%;
    transform: translateX(-55%);
}

#woman-desktop, #box {
    display: none;
}

.main-content {
    position: relative;
    padding: 1rem;
    margin-top: 4rem;
}

.main-content h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2.5rem 0;
}

.faq-btn {
    border: none;
    background: none;
    color: var(--veryDarkGrayishBlue);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    margin: .5rem 0;
    text-align: left;
    width: 100%;
}

.faq-btn:after {
    content: url('../images/icon-arrow-down.svg');
    float: right;
}

.faq-btn.isOpen:after {
    transform: rotate(180deg);
}

.isOpen {
    font-weight: 700;
}

.faq-btn:hover {
    color: var(--softRed);
}

.faq-answer {
    border-bottom: 1px solid var(--lightGrayishBlue);
    color: var(--darkGrayishBlue);
    height: 0;
    /* margin: .5rem .9rem; */
    overflow: hidden;
    text-align: left;
}

.faq-answer p {
    padding: .625rem;
}

.show-faq-answer {
    height: auto;    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media screen and (min-width: 60rem) {
    .container {
        display: flex;
        background-image: url('../images/bg-pattern-desktop.svg') ;
        background-repeat: no-repeat;
        background-position: -200% center;
        background-size: 80%;
        overflow: hidden;
    }

   #woman-mobile {
       display: none;
   }

   #woman-desktop {
       display: block;
       max-width: 27rem;
       position: relative;
       top: 5.6rem;
       left: -4.5rem;
   }

   #box {
       display: block;
       position: absolute;
       top: 13rem;
       left: -5.8rem;
       z-index: 5;
   }

   .img-content, .main-content {
       max-width: 28.75rem;
    }

   .main-content {
       padding: 2.5rem 1rem 2.5rem 1rem;
       margin-top: 0;
   }

   .main-content h1 {
       text-align: left;
    }
} 